**Importing** **pandas**

In [ ]:
import pandas as pd

**What is a Series** : we have only rows

In [ ]:
s = pd.Series(["A", "B", "C", "D", "E"])

In [ ]:
s

0    A
1    B
2    C
3    D
4    E
dtype: object

Creating a Series

using list

In [ ]:
l = ["a", "b", "c", "d", "e", 1,2,3,4,5]
s1 = pd.Series(l)
s1

0    a
1    b
2    c
3    d
4    e
5    1
6    2
7    3
8    4
9    5
dtype: object

using tuple

In [ ]:
t = ("a", "b", "c", "d", "e", 1,2,3,4,5)
s2 = pd.Series(t)
s2

0    a
1    b
2    c
3    d
4    e
5    1
6    2
7    3
8    4
9    5
dtype: object

using numpy arrays

In [ ]:
import numpy as np

In [ ]:
arr = np.array(["a", "b", "c", "d", "e", 1,2,3,4,5])
arr

array(['a', 'b', 'c', 'd', 'e', '1', '2', '3', '4', '5'], dtype='<U21')

In [ ]:
s3 = pd.Series(arr)
s3

0    a
1    b
2    c
3    d
4    e
5    1
6    2
7    3
8    4
9    5
dtype: object

Attributes: in attributes we dont keep (), as it is not a  method

size

In [ ]:
s1.size

10

In [ ]:
len(s1)

10

dtype: o is object in o

In [ ]:
s1.dtype

dtype('O')

In [ ]:
type(s1)

pandas.core.series.Series

name

In [ ]:
s1.name

In [ ]:
s1.name = "Series 1"

In [ ]:
s1.name

'Series 1'

In [ ]:
s1

0    a
1    b
2    c
3    d
4    e
5    1
6    2
7    3
8    4
9    5
Name: Series 1, dtype: object

index: row numbers which are unique

In [ ]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
l = ["3 idiots", "pink", "shallows", "john wick", "predators" ]
movies = pd.Series(l)
movies

0     3 idiots
1         pink
2     shallows
3    john wick
4    predators
dtype: object