importing pandas

In [2]:
import pandas as pd

creating series with index using dictionaries: key becomes index and values become series values

In [4]:
d = {"row 1":12, "row2":34, "row 3":3, "row 4":90, "row 5":32 }

In [6]:
s = pd.Series(d)
s

row 1    12
row2     34
row 3     3
row 4    90
row 5    32
dtype: int64

extracting index

In [7]:
s.index

Index(['row 1', 'row2', 'row 3', 'row 4', 'row 5'], dtype='object')

In [8]:
list(s.index)

['row 1', 'row2', 'row 3', 'row 4', 'row 5']

changing index

In [9]:
s.index = ["A", "B", "C", "D", "E"]
s

A    12
B    34
C     3
D    90
E    32
dtype: int64

accessing elements

using names of the index

In [10]:
s["C"]

3

In [12]:
s[["A", "B", "E"]]

A    12
B    34
E    32
dtype: int64

using positions of the index

In [16]:
s[2]

<ipython-input-16-f70620bf1203>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2]

3

In [17]:
s[[2,4,0,-3]]

<ipython-input-17-5de47a151a15>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[2,4,0,-3]]

C     3
E    32
A    12
C     3
dtype: int64